.headbar {
    display: flex;
    width: 100%;
    height: 50px;
    gap: 50px;
    margin-bottom: 20px;
}

.menu-button {
    height: 40px;
    padding: 0 10px;
    border: none;
    cursor: pointer;
}

.three-bars-icon {
    height: 30px;
    width: 30px;
}

.inside-sidebar {
    /* this is for the three bars button (menu-button) inside the sidebar */
    background-color: transparent;
    border-radius: 10px;
}

.outside-sidebar {
    /* this is for the three bars button (menu-button) outside the sidebar */
    background-color: transparent;
    margin-top: 10px;
}

.category-at {
    font-size: 40px;
}

.category-count {
    display: inline-block;
    margin-left: 25px;
    background-color: #bbb8b8;
    padding: 0px 15px;
    border-radius: 10px;
}