.collapsed-sidebar .sidebar {
    width: 0px;
    visibility: hidden;
}

.sidebar {
    height: 95vh;
    border-radius: 15px;
    padding: 15px;
    background-color: #f2f2f2;
}

.filled-sidebar .sidebar {
    min-width: 250px;
}

.menu-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 17px;
}

.menu-text {
    font-size: 30px;
}

.category-space {
    border-bottom: 1px solid gray;
    max-height: 350px;
    overflow-y: auto;
    overflow-wrap: break-word;
}

.all-tasks {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px 10px 5px;
    border-radius: 7px;
    cursor: pointer;
}

.all-task-text {
    font-size: 19px;
}

.all-tasks:hover {
    background-color: #dad9d9;
}


.category-text {
    display: block;
    margin-bottom: 15px;
}

.category-list {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    border-radius: 7px;
    cursor: pointer;
}

.category-list:hover,
.add-category-button:hover,
.log-out:hover {
    background-color: #dad9d9;
}

.category-name {
    font-size: 16px;
}

.category-frequency,
.all-task-count {
    font-size: 14px;
    text-align: center;
    display: block;
    width: 18px;
    padding: 2px;
    border-radius: 3px;
    background-color: #bbb8b8;
}

.add-category-button {
    width: 100%;
    font-size: 16px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-around;
    background-color: transparent;
    border: none;
    padding: 7px 12px;
    border-radius: 10px;
    cursor: pointer;
}

.category-input-field {
    width: 95%;
    font-size: 16px;
    margin-bottom: 5px;
    border: 1px solid gray;
    padding: 7px 12px;
    border-radius: 10px;
    cursor: pointer;
}

.add-category-buttons-container {
    display: flex;
    justify-content: right;
    margin: 0 10px 5px 0;
    gap: 15px;
}

.add-category-buttons-container button {
    border-radius: 5px;
    border: none;
    cursor: pointer;
    padding: 3px;
}

.log-out {
    background: transparent;
    border: none;
    position: fixed;
    top: 550px;
    left: 50px;
    display: flex;
    align-items: center;
    gap: 40px;
    width: 200px;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
}

.sign-out-icon {
    height: 25px;
}

.sign-out-text {
    font-size: 16px;
}